{layout name="layout/default" /}
<script src="__CDN__/modules/cms/js/change_lang.js"></script>
<!-- 表格左侧按钮 toolbar  -->
<script type="text/html" id="toolbar">
    <a href="javascript:;" lay-event="refresh" class="layui-btn btn-refresh layui-bg-black">
        <i class="fa fa-refresh"></i>
    </a>
    <button class="layui-btn layui-btn-primary layui-border-black" id="changeLang">
        <span class="lang-title">{$area_title}</span>
        <i class="layui-icon layui-icon-down layui-font-12"></i>
    </button>
    <button class="layui-btn btn-theme-color" lay-event="add">
        <i class="fa fa-plus"></i>
        {:__('Add')}
    </button>
    <button
        class="layui-btn layui-bg-blue btn-disabled disabled {:$auth->check('cms.content_sort/edit')?'':'hide'}"
        lay-event="edit">
        <i class="fa fa-pencil"></i>
        {:__('Edit')}
    </button>
    <button class="layui-btn layui-bg-red btn-disabled disabled" lay-event="del">
        <i class="fa fa-trash"></i>
        {:__('Del')}
    </button>
    <a href="{:url('cms.content_sort/batchadd')}" class="layui-btn layui-bg-green btn-dialog" data-area='["60%","80%"]'>
        <i class="fa fa-plus-square"></i>
        {:__('Batchadd')}
    </a>
    <button class="layui-btn" id="expandAll">
        <i class="fa fa-plus"></i>
        {:__('Expendall')}
    </button>
    <!-- 钩子 -->
    {foreach :hook('content_sort_top_btn',[],true) as $hook} {$hook|raw} {/foreach}
</script>

<div class="layui-card">
    <div class="layui-card-body">
        <table
            class="layui-hide"
            id="content_sort"
            data-operate-edit="{:$auth->check('cms.content_sort/edit')}"
            data-operate-del="{:$auth->check('cms.content_sort/del')}"></table>
    </div>
</div>

<script>
    layui.use(["badou","changeLang"], function () {
        var bdTable = layui.bdTable;
        var treeTable = layui.treeTable;
        var badou = layui.badou;
        var changeLang = layui.changeLang;
        badou.http.config.open.area = ["100%", "100%"];
        bdTable.api.init({
            table: treeTable,
            extend: {
                index_url: "cms.content_sort/index",
                add_url: "cms.content_sort/add",
                edit_url: "cms.content_sort/edit",
                del_url: "cms.content_sort/del",
                multi_url: "cms.content_sort/multi",
                table: "cms_content_sort",
            }
        });
        bdTable.render({
            elem: "#content_sort",
            pk: "scode",
            even: true,
            sortName:'sorting asc,id desc',
            toolbar: "#toolbar",
            commonSearch: false,
            reloadData:true,
            tree: {
                customName: {
                    children: "childlist",
                    pid: "pcode",
                    id: "scode",
                },
                view: {
                    showIcon: false,
                },
                // 取消联动
                data: {
                    cascade: "none",
                },
            },
            cols: [
                [
                    { type: "checkbox" },
                    { field: "scode", title: "ID", width: 80, sort: true },
                    { field: "name", title: "栏目名称", operate: "like" },
                    { field: "filename", title: "URL名称", width: 150 },
                    {
                        field: "models.name",
                        title: "模型",
                        width: 150,
                        templet: function (d) {
                            var colorArr = ["red", "orange", "green", "blue", "purple", "black"];
                            var colorIndex = d.mcode % colorArr.length;
                            var color = colorArr[colorIndex];
                            if (d.models) {
                                return '<span class="layui-badge layui-bg-' + color + '">' + d.models.name + "</span>";
                            } else {
                                return "-";
                            }
                        },
                    },
                    { field: "listtpl", title: "列表页模板", width: 150 },
                    { field: "contenttpl", title: "详情页模板", width: 150 },
                    { field: "outlink", title: "跳转链接", width: 150 },
                    { field: "sorting", title: "排序", width: 100,templet:bdTable.api.formatter.input },
                    {
                        field: "status",
                        title: "状态",
                        width: 100,
                        templet: bdTable.api.formatter.switch,
                    },
                    { title: "操作", width: 190, align: "center",fixed:'right', templet: bdTable.api.formatter.operate,buttons:[
                        {
                            name: 'view',
                            icon: 'fa fa-search-plus',
                            title: __('View'),
                            url:function(row, j){
                                return row.view_url;
                            },
                            extend:'target="_blank"',
                            classname: 'layui-btn layui-bg-green layui-btn-sm',
                        }
                    ] },
                ],
            ],
            done: function(res, curr, count){
                changeLang({
                    table:bdTable
                });
            }
        });

        // 展开全部
        $(document).on("click", "#expandAll", function () {
            var btn = $(this);
            var isExpanded = btn.hasClass("expanded");
            if (isExpanded) {
                treeTable.expandAll("content_sort", false);
                btn.removeClass("expanded");
                btn.html('<i class="fa fa-plus"></i> {:__("Expendall")}');
            } else {
                treeTable.expandAll("content_sort", true);
                btn.addClass("expanded");
                btn.html('<i class="fa fa-minus"></i> {:__("Collapseall")}');
            }
        });
    });
</script>


