{layout name="layout/form" /}
<form class="layui-form" method="post">
    {:token_field()}
    <div class="layui-form-item">
        <label class="layui-form-label"><span style="color: red">*</span> 模型</label>
        <div class="layui-input-block">
            <select name="row[mcode]" required lay-verify="required" placeholder="请输入模型" autocomplete="off" class="layui-input">
                <option value="">请选择模型</option>
                {foreach name="models" item="model"}
                <option value="{$key}">{$model}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><span style="color: red">*</span> 字段描述</label>
        <div class="layui-input-block">
            <input type="text" name="row[description]" value="" required lay-verify="required" placeholder="请输入字段描述" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><span style="color: red">*</span> 字段名称</label>
        <div class="layui-input-block">
            <input type="text" name="row[name]" value="" required lay-verify="required" placeholder="ext_" autocomplete="off" class="layui-input">
            <span class="layui-form-mid layui-word-aux">必须以"ext_"开头,且只能包含字母、数字、下划线</span>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><span style="color: red">*</span> 字段类型</label>
        <div class="layui-input-block">
            <select name="row[type]" required lay-verify="required" placeholder="请选择" autocomplete="off" class="layui-input">
                <option value="">请选择</option>
                {foreach name="typeText" item="type"}
                <option value="{$key}">{$type}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">选择按钮值</label>
        <div class="layui-input-block">
            <textarea name="row[value]" placeholder="请输入选择按钮值" class="layui-textarea"></textarea>
            <span class="layui-form-mid layui-word-aux">多个选项用逗号隔开或者回车，支持key:value格式</span>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">排序</label>
        <div class="layui-input-block">
            <input type="number" name="row[sorting]" value="0" min="0" placeholder="请输入排序值" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layer-footer hide">
        <div class="layui-input-block">
            <button class="layui-btn pear-btn-primary layui-btn-sm disabled" lay-submit>立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
        </div>
    </div>
</form>

<script>
    layui.use(['badou'],function () {
        var bdForm = layui.bdForm;
        bdForm.api.bindevent($("form.layui-form"));
    })
</script>