{layout name="layout/default" /}

<!-- 表格 -->
<div class="layui-card">
    <div class="layui-card-body">
        <table
            class="layui-hide"
            id="area"
            data-operate-edit="{:$auth->check('cms.area/edit')}"
            data-operate-del="{:$auth->check('cms.area/del')}"></table>
    </div>
</div>
<!-- 表格左侧按钮 toolbar  -->
<script type="text/html" id="toolbar">
    <a href="javascript:;" lay-event="refresh" class="layui-btn btn-refresh layui-bg-black	">
        <i class="fa fa-refresh"></i>
    </a>
    <button class="layui-btn layui-bg-green" lay-event="add">
        <i class="fa fa-plus"></i>
        {:__('Add')}
    </button>
    <button
        class="layui-btn layui-bg-blue btn-disabled disabled {:$auth->check('cms.area/edit')?'':'hide'}"
        lay-event="edit">
        <i class="fa fa-pencil"></i>
        {:__('Edit')}
    </button>
    <button class="layui-btn layui-bg-red btn-disabled disabled {:$auth->check('cms.area/del')?'':'hide'}" lay-event="del">
        <i class="fa fa-trash"></i>
        {:__('Del')}
    </button>
</script>
<script>
    layui.use(["badou"], function () {
        var bdTable = layui.bdTable;
        var table = layui.table;
        var layer = layui.layer;
        var dropdown = layui.dropdown;
        bdTable.api.init({
            table: table,
            extend: {
                index_url: "cms.area/index",
                add_url: "cms.area/add",
                edit_url: "cms.area/edit",
                del_url: "cms.area/del",
                multi_url: "cms.area/multi",
                table: "auth_rule",
            },
        });
        bdTable.render({
            elem: "#area",
            url: "{:url('cms.area/index')}",
            pk: "id",
            even: true,
            toolbar: "#toolbar",
            page: true,
            cols: [
                [
                    { type: "checkbox" },
                    { field: "id", title: "ID", width: 80, sort: true },
                    { field: "name", title: __("Name"), width: 300, operate: "LIKE" },
                    {
                        field: "acode",
                        title: __("Acode"),
                        width: 150,
                    },
                    { field: "domain", title: __("Domain"), width: 180 },
                    { field: "is_default", title: __("Is default"), width: 180 ,searchList: { 0: __("Off"), 1: __("On") },
                        templet: bdTable.api.formatter.switch,},
                    { field: "create_user", title: __("Create user"), width: 180 },
                    {
                        field: "create_time",
                        title: __("Create time"),
                        width: 200,
                        templet: bdTable.api.formatter.datetime,
                        searchType: "time",
                    },
                    { title: __("Operate"), align: "center", templet: bdTable.api.formatter.operate },
                ],
            ],
        });
    });
</script>