{layout name="layout/default" /}
<div class="layui-card">
    <div class="layui-card-body">
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <div class="layui-form-item layui-inline">
                    <label class="layui-form-label">用户名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="realName" placeholder="" class="layui-input" />
                    </div>
                </div>
                <div class="layui-form-item layui-inline">
                    <label class="layui-form-label">性别</label>
                    <div class="layui-input-inline">
                        <input type="text" name="realName" placeholder="" class="layui-input" />
                    </div>
                </div>
                <div class="layui-form-item layui-inline">
                    <label class="layui-form-label">邮箱</label>
                    <div class="layui-input-inline">
                        <input type="text" name="realName" placeholder="" class="layui-input" />
                    </div>
                </div>
                <div class="layui-form-item layui-inline">
                    <button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="role-query">
                        <i class="layui-icon layui-icon-search"></i>
                        查询
                    </button>
                    <button type="reset" class="pear-btn pear-btn-md">
                        <i class="layui-icon layui-icon-refresh"></i>
                        重置
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- 表格 -->
<div class="layui-card">
    <div class="layui-card-body">
        <table class="layui-hide" id="rule" data-operate-edit="{:$auth->check('auth.rule/edit')}" data-operate-del="{:$auth->check('auth.rule/del')}"></table>
    </div>
</div>

<!-- 表格左侧按钮 toolbar  -->
<script type="text/html" id="toolbar">
	<a href="javascript:;" lay-event="refresh" class="layui-btn layui-btn-sm btn-refresh layui-bg-black	"><i class="fa fa-refresh"></i></a>
	<button class="layui-btn layui-btn-sm layui-bg-green" lay-event="add"><i class="fa fa-plus"></i> {:__('Add')}</button>
	<button class="layui-btn layui-btn-sm layui-bg-blue btn-disabled disabled {:$auth->check('auth.rule/edit')?'':'hide'}" lay-event="edit"><i class="fa fa-pencil"></i> {:__('Edit')}</button>
	<button class="layui-btn layui-btn-sm layui-bg-red btn-disabled disabled" lay-event="del"><i class="fa fa-trash"></i> {:__('Del')}</button>
	<button class="layui-btn layui-btn-sm" id="expandAll"><i class="fa fa-plus"></i> {:__('Expendall')}</button>
</script>

<script>
    layui.use(["badou"], function () {
        var bdTable = layui.bdTable;
        var treeTable = layui.treeTable;
        var layer = layui.layer;
        var dropdown = layui.dropdown;
        bdTable.api.init({
            table: treeTable,
            extend: {
                index_url: "auth.rule/index",
                add_url: "auth.rule/add",
                edit_url: "auth.rule/edit",
                del_url: "auth.rule/del",
                multi_url: "auth.rule/multi",
                table: "auth_rule",
            },
        });
        bdTable.render({
            elem: "#rule",
            url: "{:url('auth.rule/index')}",
            pk: "id",
            even: true,
            toolbar: "#toolbar",
			skin:'grid',
            defaultToolbar: [
                "filter",
                "exports",
                "print", // 内置工具
                {
                    // 扩展工具
                    title: "高级搜索", // 标题
                    name: "tips", // name
                    layEvent: "LAYTABLE_TIPS", // 事件标识
                    icon: "layui-icon-search", // 图标 className
                    onClick: function (obj) {
                        // 点击事件 - 2.9.12+
                        console.log(obj); // 查看返回的对象成员
                    },
                },
            ],
            tree: {
                customName: {
                    children: "childlist",
                    pid: "pid",
                    name: "title",
                },
                view: {
                    showIcon: false,
                },
                // 取消联动
                data: {
                    cascade: "none",
                },
            },
            cols: [
                [
                    { type: "checkbox" },
                    { field: "id", title: "ID", width: 80, sort: true },
                    { field: "title", title: "标题" },
                    { field: "name", title: "规则", width: 100 },
                    { field: "icon", title: "图标", width: 150, templet: bdTable.api.formatter.icon },
                    { field: "weigh", title: "权重", width: 100 },
                    {
                        field: "status",
                        title: "状态",
                        width: 100,
                        selectList: { normal: "正常", hidden: "隐藏" },
                        custom: { normal: "green", hidden: "orange" },
                        templet: bdTable.api.formatter.status,
                    },
                    { field: "ismenu", title: "菜单", width: 100, templet: bdTable.api.formatter.switch },
                    { title: "操作", width: 190, align: "center", templet: bdTable.api.formatter.operate },
                ],
            ],
        });
        // 展开全部
        $(document).on("click", "#expandAll", function () {
            var btn = $(this);
            var isExpanded = btn.hasClass("expanded");
            if (isExpanded) {
                treeTable.expandAll("rule", false);
                btn.removeClass("expanded");
                btn.html('<i class="fa fa-plus"></i> {:__("Expendall")}');
            } else {
                treeTable.expandAll("rule", true);
                btn.addClass("expanded");
                btn.html('<i class="fa fa-minus"></i> {:__("Collapseall")}');
            }
        });
    });
</script>
