<!doctype html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <title>{$site.site_name}-后台管理</title>
  {include file="common/meta" }
</head>
<!-- 结 构 代 码 -->

<body class="layui-layout-body pear-admin">
  <!-- 布 局 框 架 -->
  <div class="layui-layout layui-layout-admin">
    <!-- 顶 部 样 式 -->
    <div class="layui-header">
      {if config('badouadmin.admin_main_warning')} {if
      preg_match('/\/admin\/|\/admin\.php/i', url())}
      <div class="alert alert-danger text-center" style="border: none; margin-bottom: 0 !important">
        {:__('Security tips')}
      </div>
      {/if} {/if}
      <!-- 菜 单 顶 部 -->
      <div class="layui-logo">
        <!-- 图 标 -->
        <img class="logo" />
        <!-- 标 题 -->
        <span class="title"></span>
      </div>
      <!-- 顶 部 左 侧 功 能 -->
      <ul class="layui-nav layui-layout-left">
        <li class="collapse layui-nav-item">
          <a href="#" class="layui-icon layui-icon-shrink-right"></a>
        </li>
        <li class="refresh layui-nav-item">
          <a href="#" class="layui-icon layui-icon-refresh-1" loading="600"></a>
        </li>
      </ul>
      <!-- 多 系 统 菜 单 -->
      <div id="control" class="layui-layout-control"></div>
      <!-- 顶 部 右 侧 菜 单 -->
      <ul class="layui-nav layui-layout-right" lay-bar="disabled">
        {foreach :hook('admin_top_begin',[],true) as $hook} {$hook|raw}
        {/foreach}
        <li class="layui-nav-item layui-hide-xs">
          <a href="/" target="_blank" class="layui-icon layui-icon-home"></a>
        </li>
        <li class="layui-nav-item layui-hide-xs langs">
          <a href="javascript:;">
            <svg width="1.2em" height="1.2em" viewBox="0 0 24 24" style="color: #333">
              <path
                d="M18.5 10l4.4 11h-2.155l-1.201-3h-4.09l-1.199 3h-2.154L16.5 10h2zM10 2v2h6v2h-1.968a18.222 18.222 0 0 1-3.62 6.301a14.864 14.864 0 0 0 2.336 1.707l-.751 1.878A17.015 17.015 0 0 1 9 13.725a16.676 16.676 0 0 1-6.201 3.548l-.536-1.929a14.7 14.7 0 0 0 5.327-3.042A18.078 18.078 0 0 1 4.767 8h2.24A16.032 16.032 0 0 0 9 10.877a16.165 16.165 0 0 0 2.91-4.876L2 6V4h6V2h2zm7.5 10.885L16.253 16h2.492L17.5 12.885z"
                fill="currentColor"></path>
            </svg>
          </a>
          <dl class="layui-nav-child text-center">
            <dd><a href="?lang=zh-cn">中文简体</a></dd>
            <dd><a href="?lang=en">English</a></dd>
          </dl>
        </li>

        <li class="layui-nav-item">
          <a href="javascript:;" class="layui-icon layui-icon-delete" style="font-size: 19px !important"></a>
          <dl class="layui-nav-child text-center">
            <dd style="border-bottom: 1px solid #f0f0f0; margin-bottom: 5px">
              <a href="javascript:void(0);" class="wipecache" data-type="all">
                一键清理缓存
              </a>
            </dd>
            <dd>
              <a href="javascript:void(0);" class="wipecache" data-type="data">
                清除内容缓存
              </a>
            </dd>
            <dd>
              <a href="javascript:void(0);" class="wipecache" data-type="template">
                清除模板缓存
              </a>
            </dd>
            <dd>
              <a href="javascript:void(0);" class="wipecache" data-type="browser">
                清除浏览器缓存
              </a>
            </dd>
          </dl>
        </li>
        <li class="layui-nav-item admin-info">
          <!-- 头 像 -->
          <a class="layui-icon layui-icon-username" href="javascript:;">
            <span>{$auth->nickname}</span>
          </a>
          <!-- 功 能 菜 单 -->
          <dl class="layui-nav-child">
            <dd>
              <a href="javascript:;" user-menu-url="general.profile" user-menu-id="2" user-menu-title="个人资料">
                个人资料
              </a>
            </dd>
            <dd><a href="javascript:void(0);" class="logout">注销登录</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item layui-hide-xs">
          <a href="#" class="menuSearch layui-icon layui-icon-search"></a>
        </li>
        <li class="layui-nav-item layui-hide-xs">
          <a href="#" class="fullScreen layui-icon layui-icon-screen-full"></a>
        </li>
        {foreach :hook('admin_top_end',[],true) as $hook} {$hook|raw}
        {/foreach}
        <!-- 主 题 配 置 -->
        <li class="layui-nav-item setting">
          <a href="#" class="layui-icon layui-icon-more-vertical"></a>
        </li>
      </ul>


    </div>
    <!-- 侧 边 区 域 -->
    <div class="layui-side layui-bg-black">
      <!-- 菜 单 顶 部 -->
      <div class="layui-logo">
        <!-- 图 标 -->
        <img class="logo" />
        <!-- 标 题 -->
        <span class="title"></span>
      </div>
      <!-- 菜 单 内 容 -->
      <div class="layui-side-scroll">
        <div id="sideMenu"></div>
      </div>
    </div>
    <!-- 视 图 页 面 -->
    <div class="layui-body">
      <!-- 内 容 页 面 -->
      <div id="content"></div>
    </div>
    <!-- 页脚 -->
    <div class="layui-footer layui-text">
      <span class="left">Released under the Apache license. badouadmin</span>
      <span class="center"></span>
      <span class="right">Copyright © {:date('Y')} www.badoucms.com</span>
    </div>
    <!-- 遮 盖 层 -->
    <div class="pear-cover"></div>
    <!-- 加 载 动 画 -->
    <div class="loader-main">
      <!-- 动 画 对 象 -->
      <div class="loader"></div>
    </div>
  </div>
  <!-- 移 动 端 便 捷 操 作 -->
  <div class="pear-collapsed-pe collapse">
    <a href="#" class="layui-icon layui-icon-shrink-right"></a>
  </div>

  <!-- 框 架 初 始 化 -->
  <script>
    layui.use(["admin", "jquery", "drawer", "badou", "toast"], function () {
      var $ = layui.jquery;
      var admin = layui.admin;
      var Badou = layui.badou;
      var toast = layui.toast;

      admin.setConfigPath(Config.app_url + "/index/adminConfig");

      admin.render();

      //清除缓存
      $(".wipecache").on("click", function () {
        var type = $(this).data("type");
        Badou.api.ajax({
          url: "{:url('ajax/wipecache')}",
          data: {
            type: type,
          },
        });
      });

      // 登出逻辑
      admin.logout(function () {
        Badou.api.ajax(
          {
            url: "{:url('index/logout')}",
          },
          function (ret, res) {
            toast.success({
              message: res.msg,
              timeout: 500,
              onClosing: function () {
                location.href = res.url;
              },
            });
            return false;
          },
          function (ret, res) {
            toast.error({
              message: res.msg,
              timeout: 500,
              onClosing: function () {
                location.href = res.url;
              },
            });
            return false;
          },
        );
        // 注销逻辑 返回 true / false
        return true;
      });

      // 消息点击回调
      // admin.message(function (id, title, context, form) {});
    });
  </script>
</body>

</html>