<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <title>登录</title>
        {include file="common/meta" }
        <link rel="stylesheet" href="__CDN__/assets/css/login.css" />
    </head>

    <body>
        <div class="login-page" style="background-image: url(__CDN__/assets/images/background.svg)">
            <div class="layui-row">
                <div class="layui-col-sm12 layui-col-xs12 login-form">
                    <div class="login-head">
                        <img src="__CDN__/assets/images/login-head.svg" alt="" />
                    </div>
                    <div class="layui-form">
                        <div class="form-center">
                            <div class="form-center-box">
                                <div class="top-log-title">
                                    <span>BadouAdmin 1.0</span>
                                </div>
                                <div class="top-desc">化繁为简，返璞归真，扩展灵活</div>
                                <div style="margin-top: 25px">
                                    <div class="layui-form-item">
                                        <div class="layui-input-wrap">
                                            <div class="layui-input-prefix">
                                                <i class="layui-icon layui-icon-username"></i>
                                            </div>
                                            <input lay-verify="required" name="username" placeholder="账户" autocomplete="off" class="layui-input" />
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <div class="layui-input-wrap">
                                            <div class="layui-input-prefix">
                                                <i class="layui-icon layui-icon-password"></i>
                                            </div>
                                            <input lay-verify="required" type="password" name="password" value="" placeholder="密码" autocomplete="off" class="layui-input" lay-affix="eye" />
                                        </div>
                                    </div>
                                    <div class="tab-log-verification">
                                        <div class="verification-text">
                                            <div class="layui-input-wrap">
                                                <div class="layui-input-prefix">
                                                    <i class="layui-icon layui-icon-auz"></i>
                                                </div>
                                                <input lay-verify="required" name="captcha" value="" placeholder="验证码" autocomplete="off" class="layui-input" />
                                            </div>
                                        </div>
                                        <img src="{:captcha_src()}?imageW=99" alt="captcha" class="verification-img" />
                                    </div>
                                    <div class="layui-form-item">
                                        <div class="remember-passsword">
                                            <div class="remember-cehcked">
                                                <input type="checkbox" name="keeplogin" lay-skin="primary" title="自动登录" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="login-btn">
                                        <input type="hidden" name="__token__" id="token" value="{:token()}" />
                                        <button type="button" lay-submit lay-filter="login" class="layui-btn login">登 录</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            layui.use(["form", "button", "toast", "badou"], function () {
                var form = layui.form;
                var button = layui.button;
                var toast = layui.toast;
                var Badou = layui.badou;

                // 刷新验证码函数
                function refreshCaptcha() {
                    $(".verification-img").attr("src", "{:captcha_src()}?r=" + Math.random());
                }

                // 点击验证码刷新
                $(".verification-img").click(function () {
                    refreshCaptcha();
                });
                // 添加回车键事件监听
                $(document).keydown(function (event) {
                    if (event.keyCode === 13) {
                        $("button[lay-filter='login']").click();
                        return false;
                    }
                });

                // 登 录 提 交
                form.on("submit(login)", function (data) {
                    // 动画
                    var btn = button.load({
                        elem: ".login",
                    });

                    Badou.api.ajax(
                        {
                            url: location.href,
                            data: data.field,
                        },
                        function (ret, res) {
                            if (res.code == 1) {
                                btn.stop();
                                toast.success({
                                    message: res.msg,
                                    timeout: 500,
                                    onClosing: function () {
                                        window.location.href = res.url;
                                    },
                                });
                            } else {
                                // 登录失败时刷新验证码
                                refreshCaptcha();
                                btn.stop();
                            }
                            return false;
                        },
                        function (data) {
                            btn.stop();
                            // 登录失败时刷新验证码
                            refreshCaptcha();
                            if (data.token) {
                                $("#token").val(data.token);
                            }
                        }
                    );

                    return false;
                });
            });
        </script>
    </body>
</html>
