{layout name="layout/form" /}
<form class="layui-form" method="post">
    {:token_field()}
    <div class="layui-form-item">
        <label class="layui-form-label">{:__('Group')}</label>
        <div class="layui-input-block">
            <select name="row[group_id]" lay-verify="required">
                {foreach name="$groupdata"  item="vo"}
                <option value="{$key}">{$vo}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">{:__('Username')}</label>
        <div class="layui-input-block">
            <input type="text" name="row[username]" value="" lay-verify="required" autocomplete="off"  placeholder="{:__('Username')}" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">{:__('Nickname')}</label>
        <div class="layui-input-block">
            <input type="text" name="row[nickname]" value="" lay-verify="required" autocomplete="off" placeholder="{:__('Nickname')}" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">{:__('Password')}</label>
        <div class="layui-input-block">
            <input type="password" name="row[password]" value="" lay-verify="required" autocomplete="off" placeholder="{:__('Password')}" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">{:__('Email')}</label>
        <div class="layui-input-block">
            <input type="text" name="row[email]" value="" lay-verify="" autocomplete="off" placeholder="{:__('Email')}" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">{:__('Mobile')}</label>
        <div class="layui-input-block">
            <input type="text" name="row[mobile]" value="" lay-verify="" autocomplete="off" placeholder="{:__('Mobile')}" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">{:__('Avatar')}</label>
        <div class="layui-input-block">
            <input type="text" id="c-avatar" name="row[avatar]" lay-verify="" class="layui-input" value="" autocomplete="off" placeholder="{:__('Avatar')}" />
            <div class="layui-input-suffix" style="width: 30%;">
                <button type="button" data-input-id="c-avatar" data-preview-id="p-avatar" class="layui-btn btn-bdupload">
                    <i class="fa fa-upload"></i>
                    上传
                </button>
                <button type="button" data-input-id="c-avatar" class="layui-btn layui-bg-green btn-bdchoose">
                    <i class="fa fa-list"></i>
                    选择
                </button>
            </div>
            <div class="layui-upload-list" id="p-avatar"></div>
        </div>

    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">{:__('Level')}</label>
        <div class="layui-input-block">
            <input type="number" name="row[level]" value="" lay-verify="" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">{:__('Gender')} </label>
        <div class="layui-input-block">
            <input type="radio" name="row[gender]" value="1" title="{:__('Male')}" checked>
            <input type="radio" name="row[gender]" value="0" title="{:__('FeMale')}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">{:__('Birthday')} </label>
        <div class="layui-input-block">
            <input
                    type="text"
                    name="row[birthday]"
                    value=""
                    readonly
                    placeholder="{:__('Birthday')}"
                    class="layui-input laydate" />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">{:__('Bio')}</label>
        <div class="layui-input-block">
            <input type="text" name="row[bio]" value="" lay-verify="" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">{:__('Money')}</label>
        <div class="layui-input-block">
            <input type="number" name="row[money]" value="" lay-verify="" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">{:__('Score')}</label>
        <div class="layui-input-block">
            <input type="number" name="row[score]" value="" lay-verify="" autocomplete="off" class="layui-input">
        </div>
    </div>




    <div class="layui-form-item">
        <label class="layui-form-label">{:__('Status')} </label>
        <div class="layui-input-block">
            <input type="radio" name="row[status]" value="normal" title="{:__('Normal')}" checked>
            <input type="radio" name="row[status]" value="hidden" title="{:__('Hidden')}" >
        </div>
    </div>

    <div class="layui-form-item layer-footer hide">
        <div class="layui-input-block">
            <button class="layui-btn pear-btn-primary layui-btn-sm disabled" lay-submit>立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
        </div>
    </div>
</form>

<script>
    layui.use(['badou'],function () {
        var bdForm = layui.bdForm;

        bdForm.api.bindevent($("form.layui-form"));
    })
</script>