/nbproject/
/runtime/
/vendor/
.idea
composer.lock
*.log
*.css.map
!.gitkeep
/.env
.svn
.vscode
node_modules
/.VSCodeCounter/
bower.json
build.php
README.md
.DS_store
/web/yarn.lock
/web/pnpm-lock.yaml
/public/assets
public/npm-install-test
modules/*
backup/*
extend/bd/service/upgrade/Upgrade.php.bak