/nbproject/
/vendor/
/runtime/*
/public/uploads/*
.DS_Store
.idea
composer.lock
*.log
*.css.map
!.gitkeep
.env
.svn
.vscode
node_modules
.user.ini
/public/install.lock
moduledev.*
moduledev
/modules
!/modules/cms
!/modules/nkeditor
!/modules/upgrade
