{layout name="layout/form" /}
<form class="layui-form" method="post">
    {:token_field()}

    <div class="layui-form-item">
        <label class="layui-form-label">名称</label>
        <div class="layui-input-block">
            <input
                type="text"
                name="row[name]"
                value=""
                placeholder="请输入名称"
                autocomplete="off"
                class="layui-input" />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">字段类型</label>
        <div class="layui-input-block">
            <select name="row[type]" id="c-type">
                {volist name="typeText" id="vo"}
                <option value="{$key}">{$vo}</option>
                {/volist}
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">字段描述</label>
        <div class="layui-input-block">
            <input
                type="text"
                name="row[description]"
                value=""
                placeholder="请输入字段描述"
                autocomplete="off"
                class="layui-input" />
        </div>
    </div>

    <div class="layui-form-item layer-footer hide">
        <div class="layui-input-block">
            <button class="layui-btn btn-theme-color disabled" lay-submit>立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>

<script>
    layui.use(["badou"], function () {
        var bdForm = layui.bdForm;
        bdForm.api.bindevent($("form.layui-form"));
    });
</script>
