{layout name="layout/default" /}
<style>
    .layui-tabs-header .layui-this,
    .layui-tabs-header li:hover {
        color: var(--blue-color) !important;
    }
</style>
<div class="layui-card">
    <div class="layui-card-body">
        <div class="layui-btn-container"></div>
        <div class="layui-tabs layui-tabs-card" id="label-tabs" lay-options="{index: 0}">
            <ul class="layui-tabs-header">
                <li>定制标签</li>
                <li>标签列表</li>
            </ul>
            <div class="layui-tabs-body">
                <div class="layui-tabs-item">
                    <form class="layui-form-content" action="{:url('cms.site/edit')}" method="post">
                        {:token_field()}

                        {include file="cms/common/builder/fields" /}
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn btn-theme-color" lay-filter="content" lay-submit>保存</button>
                                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="layui-tabs-item">
                    <table
                        class="layui-hide"
                        id="label"
                        data-operate-edit="{:$auth->check('cms.label/edit')}"
                        data-operate-del="{:$auth->check('cms.label/del')}"></table>

                    <!-- 表格左侧按钮 toolbar  -->
                    <script type="text/html" id="toolbar">
                        <a href="javascript:;" lay-event="refresh" class="layui-btn btn-refresh layui-bg-black	">
                            <i class="fa fa-refresh"></i>
                        </a>
                        <button class="layui-btn layui-bg-green" lay-event="add">
                            <i class="fa fa-plus"></i>
                            {:__('Add')}
                        </button>
                        <button
                            class="layui-btn layui-bg-blue btn-disabled disabled {:$auth->check('cms.link/edit')?'':'hide'}"
                            lay-event="edit">
                            <i class="fa fa-pencil"></i>
                            {:__('Edit')}
                        </button>
                        <button
                            class="layui-btn layui-bg-red btn-disabled disabled {:$auth->check('cms.link/del')?'':'hide'}"
                            lay-event="del">
                            <i class="fa fa-trash"></i>
                            {:__('Del')}
                        </button>
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    layui.use(["badou","tabs"], function () {
        var bdForm = layui.bdForm;
        var bdTable = layui.bdTable;
        var table = layui.table;
        var tabs =layui.tabs;
        bdForm.api.bindevent($("form.layui-form-content"));

        bdTable.api.init({
            table: table,
            extend: {
                index_url: "cms.label/index",
                add_url: "cms.label/add",
                edit_url: "cms.label/edit",
                del_url: "cms.label/del",
                multi_url: "cms.label/multi",
                table: "auth_rule",
            },
        });
        bdTable.render({
            elem: "#label",
            url: "{:url('cms.label/index')}",
            pk: "id",
            even: true,
            toolbar: "#toolbar",
            page: true,
            cols: [
                [
                    { type: "checkbox" },
                    { field: "id", title: "ID", width: 80, sort: true },
                    { field: "name", title: __("Name"), width: 200 },
                    { field: "type", title: __("Type"), width: 250, templet: bdTable.api.formatter.label,searchList:Config.typeText },
                    { field: "description", title: __("Description") },
                    { field: "create_user", title: __("Create user"), width: 180 },
                    { field: "update_user", title: __("Update user"), width: 180 },
                    {
                        field: "create_time",
                        title: __("Create time"),
                        width: 180,
                    },
                    { title: __("Operate"), align: "center", templet: bdTable.api.formatter.operate },
                ],
            ],
        });
    });
</script>
