{layout name="layout/default" /}
<script src="__CDN__/modules/cms/js/change_lang.js"></script>
<div class="layui-card">
    <div class="layui-card-body">
        <div class="layui-btn-container">
            <a href="javascript:;" class="layui-btn btn-refresh layui-bg-black">
                <i class="fa fa-refresh"></i>
            </a>
            <button class="layui-btn layui-btn-primary layui-border-black" id="changeLang">
                <span class="lang-title">{$area_title}</span>
                <i class="layui-icon layui-icon-down layui-font-12"></i>
            </button>
            <a href="cms.label/index" class="layui-btn list-dialog" data-area='["80%","80%"]'>
                <i class="fa fa-list"></i> 标签列表
            </a>
        </div>
        <div class="layui-tabs layui-tabs-card" id="label-tabs" lay-options="{index: 0}">
            <ul class="layui-tabs-header">
                <li>定制标签</li>
            </ul>
            <div class="layui-tabs-body">
                <div class="layui-tabs-item">
                    <form class="layui-form layui-form-content" action="{:url('cms.label/content')}" method="post">
                        {:token_field()} {include file="cms/common/builder/fields" /}
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn btn-theme-color" lay-filter="content" lay-submit>保存</button>
                                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    layui.use(["badou", "tabs", "changeLang"], function () {
        var bdForm = layui.bdForm;
        var bdTable = layui.bdTable;
        var table = layui.table;
        var tabs = layui.tabs;
        var badou = layui.badou;

        var changeLang = layui.changeLang;
        changeLang({
            click: function (obj) {
                top.$(".refresh").trigger("click");
            },
        });

        $(".list-dialog").on("click", function (e) {
            e.preventDefault();
            var url = $(this).attr("href");
            badou.api.open(url, "标签列表", {
                area: ["80%", "80%"],
                end: function () {
                    top.$(".refresh").trigger("click");
                }
            });
        });

        $(".btn-refresh").on("click", function () {
            top.$(".refresh").trigger("click");
        });

        bdForm.api.bindevent($("form.layui-form-content"));
    });
</script>
