{foreach $custom_fields as $field}
<div class="layui-form-item">
    <label class="layui-form-label">{$field.description}</label>
    <div class="layui-input-block">
        {switch $field.component}
        {// 文本框 }
        {case value="string"}
        <input type="text" id="c-{$field.name}" name="row[{$field.name}]" placeholder="请输入作者" value="{$row.value}"
            class="layui-input" />
        {/case}
        {// 多选框 }
        {case value="checkbox"}
        {volist name="$field.content" id="item" key="k" }
        <input type="checkbox" id="c-{$field.name}-{$k}" name="row[{$field.name}]" title="{$item}" value="{$key}" {in
            name="key" value="$field.content" }checked{/in}>
        {/volist}
        {/case}
        {// 单选框 }
        {case value="radio"}
        {volist name="$field.content" id="item" key="k" }
        <input type="radio" id="c-{$field.name}-{$k}" name="row[{$field.name}]" title="{$item}" value="{$key}" {in
            name="key" value="$field.content" }checked{/in}>
        {/volist}
        {/case}
        {// 图片上传 }
        {case value="image" break="0"}{/case}
        {case images}
        <div class="layui-input-group" style="width: 100%">
            <input type="text" id="c-{$field.name}" name="row[{$field.name}]" class="layui-input" value="{$row[{$field.name}]}" />
            <div class="layui-input-suffix" style="width: 30%">
                <button type="button" data-input-id="c-{$field.name}" {if $field.component=='images'}data-multiple="true"{/if} data-preview-id="p-{$field.name}" class="layui-btn btn-bdupload">
                    <i class="fa fa-upload"></i>
                    上传
                </button>
                <button type="button" data-input-id="c-{$field.name}" class="layui-btn layui-bg-green btn-bdchoose">
                    <i class="fa fa-list"></i>
                    选择
                </button>
            </div>
        </div>

        <div class="layui-upload-list" id="p-{$field.name}"></div>
        {/case}
        {// 附件上传 }
        {case value="file" break="0"}{/case}
        {case files}
        <div class="layui-input-group" style="width: 100%">
            <input type="text" id="c-{$field.name}" name="row[{$field.name}]" class="layui-input"
                value="{$field.value}" />
            <div class="layui-input-suffix" style="width: 30%">
                <button type="button" {if $field.component=='images'}data-multiple="true"{/if} data-input-id="c-{$field.name}" class="layui-btn btn-bdupload">
                    <i class="fa fa-upload"></i>
                    上传
                </button>
                <button type="button" data-input-id="c-{$field.name}" class="layui-btn layui-bg-green btn-bdchoose">
                    <i class="fa fa-list"></i>
                    选择
                </button>
            </div>
        </div>
        {/case}
        {// 多行文本框 }
        {case textarea}
        <textarea class="layui-textarea" name="row[{$field.name}]" rows="5">{$field.value}</textarea>
        {/case}
        {// 富文本 }
        {case value="editor"}
        <textarea class="layui-textarea editor" name="row[{$field.name}]" rows="5">{$field.value}</textarea>
        {/case}
        {// 日期 }
        {case value="datetime"}
        <input type="text" id="c-{$field.name}" name="row[{$field.name}]" class="layui-input" value="{$field.value}" />
        {/case}
        {// 下拉选择 }
        {case value="select"}
        <select name="row[{$field.name}]" class="layui-select">
            {volist name="$field.content" id="item" key="k" }
            <option value="{$key}" {if $field.value==$key}selected{/if}>{$item}</option>
            {/volist}
        </select>
        {/case}

        {/switch}
    </div>
</div>
{/foreach}