{layout name="layout/default" /}
<script src="__CDN__/modules/cms/js/change_lang.js"></script>
<div class="layui-card">
    <div class="layui-card-body">
        <table
            class="layui-hide"
            id="content"
            data-operate-edit="{:$auth->check('cms.content/edit')}"
            data-operate-del="{:$auth->check('cms.content/del')}"></table>
    </div>
</div>
<!-- 表格左侧按钮 toolbar  -->
<script type="text/html" id="toolbar">
    <a href="javascript:;" lay-event="refresh" class="layui-btn btn-refresh layui-bg-black">
        <i class="fa fa-refresh"></i>
    </a>
    <button class="layui-btn layui-btn-primary layui-border-black" id="changeLang">
        <span class="lang-title">{$area_title}</span>
        <i class="layui-icon layui-icon-down layui-font-12"></i>
    </button>
    <button class="layui-btn btn-theme-color" lay-event="add">
        <i class="fa fa-plus"></i>
        {:__('Add')}
    </button>
    <button
        class="layui-btn layui-bg-blue btn-disabled disabled {:$auth->check('cms.content/edit')?'':'hide'}"
        lay-event="edit">
        <i class="fa fa-pencil"></i>
        {:__('Edit')}
    </button>
    <button class="layui-btn layui-bg-red btn-disabled disabled" lay-event="del">
        <i class="fa fa-trash"></i>
        {:__('Del')}
    </button>
    <a
        href="{:url('cms.content/copy',['mcode'=>$mcode])}"
        class="layui-btn btn-copy btn-disabled disabled {:$auth->check('cms.content/copy')?'':'hide'}">
        <i class="fa fa-copy"></i>
        {:__('Copy')}
    </a>
    <a
        href="{:url('cms.content/move',['mcode'=>$mcode])}"
        class="layui-btn btn-move btn-disabled disabled {:$auth->check('cms.content/move')?'':'hide'}">
        <i class="fa fa-magnet"></i>
        {:__('Move')}
    </a>
</script>

<script>
    layui.use(["badou", "changeLang"], function () {
        var bdTable = layui.bdTable;
        var table = layui.table;
        var layer = layui.layer;
        var dropdown = layui.dropdown;
        var badou = layui.badou;
        var laytpl = layui.laytpl;
        var form = layui.form;
        var changeLang = layui.changeLang;
        badou.http.config.open.area = ["100%", "100%"];

        bdTable.api.init({
            table: table,
            extend: {
                index_url: "cms.content/index?mcode={$mcode}",
                add_url: "cms.content/add?mcode={$mcode}",
                edit_url: "cms.content/edit?mcode={$mcode}",
                del_url: "cms.content/del?mcode={$mcode}",
                multi_url: "cms.content/multi?mcode={$mcode}",
                table: "cms_content",
            },
        });
        bdTable.render({
            elem: "#content",
            url: bdTable.extend.index_url,
            pk: "id",
            even: true,
            sortName: "sorting asc,id desc",
            searchFormVisible: true,
            toolbar: "#toolbar",
            page: true,
            cols: [
                [
                    { type: "checkbox" },
                    { field: "id", title: "ID", width: 80, sort: true },
                    { field: "scode", hide: true, title: __("Scode name"), width: 90, searchType: "remoteSelect",extend:'data-source="cms.content_sort/selectpage" data-primary-key="scode" data-field="name" data-is-tree="true" data-pidname="pcode" data-params=\'{"acode":"{$acode}","mcode":"{$mcode}"}\'' },
                    { field: "contentsort.name", operate: false, title: __("Scode name"), width: 150 },
                    { field: "title", title: __("Title") },
                    { field: "ico", title: __("Ico"), width: 80, templet: bdTable.api.formatter.image, operate: false },
                    {
                        field: "date",
                        title: __("Release time"),
                        width: 180,
                        templet: bdTable.api.formatter.datetime,
                        operate: "RANGE",
                        searchType: "time",
                    },
                    {
                        field: "sorting",
                        title: __("Sorting"),
                        width: 100,
                        templet: bdTable.api.formatter.input,
                    },
                    {
                        field: "status",
                        title: __("Status"),
                        width: 80,
                        searchList: { 0: __("Off"), 1: __("On") },
                        templet: bdTable.api.formatter.switch,
                    },
                    {
                        field: "istop",
                        title: __("Istop"),
                        width: 80,
                        searchList: { 0: __("Off"), 1: __("On") },
                        templet: bdTable.api.formatter.switch,
                    },
                    {
                        field: "isrecommend",
                        title: __("Isrecommend"),
                        width: 80,
                        searchList: { 0: __("Off"), 1: __("On") },
                        templet: bdTable.api.formatter.switch,
                    },
                    {
                        field: "isheadline",
                        title: __("Isheadline"),
                        width: 80,
                        searchList: { 0: __("Off"), 1: __("On") },
                        templet: bdTable.api.formatter.switch,
                    },
                    { field: "visits", title: __("Visits"), width: 80 },
                    {
                        title: __("Operate"),
                        align: "center",
                        width: 150,
                        fixed: "right",
                        templet: bdTable.api.formatter.operate,
                        buttons: [
                            {
                                name: "view",
                                icon: "fa fa-search-plus",
                                title: __("View"),
                                url: function (row, j) {
                                    return row.view_url;
                                },
                                extend: 'target="_blank"',
                                classname: "layui-btn layui-bg-green layui-btn-sm",
                            },
                        ],
                    },
                ],
            ],
            done: function (res, curr, count) {
                changeLang({
                    table: bdTable,
                });
            },
        });

        // 移动&复制
        $(document).on("click", ".btn-copy,.btn-move", function () {
            var that = this;
            if ($(this).hasClass("disabled")) {
                return false;
            }
            var table = bdTable.initTable;
            var ids = bdTable.api.selectedids();
            if (ids.length === 0) {
                layer.msg(__("Please select at least one item"));
                return false;
            }
            var idarr = [];
            $.each(ids, function (i, v) {
                idarr.push(v[table.config.pk]);
            });
            var url = $(this).attr("href") + "&ids=" + idarr.join(",");
            var title = $(this).text();

            badou.api.open(url, title, {
                area: ["550px", "500px"],
            });
            return false;
        });
    });
</script>
