{layout name="layout/form" /}
<form class="layui-form" method="post">
    {:token_field()}
    <div class="layui-row layui-col-space20">
        <div class="layui-col-xs12">
            <div class="alert alert-warning" role="alert">
                只支持移动到相同模型栏目
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">
                    栏目
                    <span class="layui-font-red">*</span>
                </label>
                <div class="layui-input-block">
                    <input type="hidden" id="c-scode" name="scode" value="" class="layui-input" />
                    <div
                        class="remoteSelect"
                        id="remoteSelect-scode"
                        data-input-id="c-scode"
                        data-field="name"
                        data-source="cms.content/getContentSort"
                        data-is-tree="true"
                        data-pidname="pcode"
                        data-primary-key="scode"
                        data-params='{"acode":"{$acode}"}'></div>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-form-item layer-footer hide">
        <div class="layui-input-block">
            <button class="layui-btn pear-btn-primary layui-btn-sm disabled" lay-submit>保存</button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
        </div>
    </div>
</form>

<script>
    layui.use(["badou"], function () {
        var bdForm = layui.bdForm;

        bdForm.api.bindevent($("form.layui-form"));
    });
</script>
