{layout name="layout/default" /}

<!-- 表格 -->
<div class="layui-card">
    <div class="layui-card-body">
        <table class="layui-hide" id="models" data-operate-edit="{:$auth->check('cms.models/edit')}" data-operate-del="{:$auth->check('cms.models/del')}"></table>
    </div>
</div>
<!-- 表格左侧按钮 toolbar  -->
<script type="text/html" id="toolbar">
	<a href="javascript:;" lay-event="refresh" class="layui-btn layui-btn-sm btn-refresh layui-bg-black	"><i class="fa fa-refresh"></i></a>
	<button class="layui-btn layui-btn-sm layui-bg-green" lay-event="add"><i class="fa fa-plus"></i> {:__('Add')}</button>
	<button class="layui-btn layui-btn-sm layui-bg-blue btn-disabled disabled {:$auth->check('cms.models/edit')?'':'hide'}" lay-event="edit"><i class="fa fa-pencil"></i> {:__('Edit')}</button>
	<button class="layui-btn layui-btn-sm layui-bg-red btn-disabled disabled" lay-event="del"><i class="fa fa-trash"></i> {:__('Del')}</button>
</script>
<script>
    layui.use(["badou"], function () {
        var bdTable = layui.bdTable;
        var table = layui.table;
        var layer = layui.layer;
        var dropdown = layui.dropdown;
        bdTable.api.init({
            table: table,
            extend: {
                index_url: "cms.models/index",
                add_url: "cms.models/add",
                edit_url: "cms.models/edit",
                del_url: "cms.models/del",
                multi_url: "cms.models/multi",
                table: "auth_rule",
            },
        });
        bdTable.render({
            elem: "#models",
            url: "{:url('cms.models/index')}",
            pk: "id",
            even: true,
            toolbar: "#toolbar",
            page:true,
            cols: [
                [
                    { type: "checkbox" },
                    { field: "id", title: "ID", width: 80, sort: true },
                    { field: "name", title: __('Name'), width: 300,operate:'LIKE'  },
                    { field: "type", title: __('Type'), width: 150,templet: bdTable.api.formatter.label,searchList:Config.type_list,custom:{1:'blue',2:'green'} },
                    { field: "urlname", title:__('UrlName'), width: 180 },
                    { field: "listtpl", title:__('Listtpl'), width: 180 },
                    { field: "contenttpl", title:__('Contenttpl'), width: 180 },
                    {
                        field: "status",
                        title: __('Status'),
                        width: 100,
                        searchList: {0:__('Off'),1:__('On')},
                        templet: bdTable.api.formatter.switch,
                    },
                    { field: "create_time", title: __('Create time') ,width: 200, templet: bdTable.api.formatter.datetime,searchType:'time' },
                    { title: __('Operate'), width: 190, align: "center", templet: bdTable.api.formatter.operate},
                ],
            ],
        });
    });
</script>