{layout name="layout/default" /}
<script src="__CDN__/modules/cms/js/change_lang.js"></script>

<div class="layui-card">
    <div class="layui-card-body">
        <table
            class="layui-hide"
            id="content"
            data-operate-edit="{:$auth->check('cms.single/edit')}"
            data-operate-del="{:$auth->check('cms.single/del')}"></table>
    </div>
</div>
<!-- 表格左侧按钮 toolbar  -->
<script type="text/html" id="toolbar">
    <a href="javascript:;" lay-event="refresh" class="layui-btn btn-refresh layui-bg-black	">
        <i class="fa fa-refresh"></i>
    </a>
    <button class="layui-btn layui-btn-primary layui-border-black" id="changeLang">
        <span class="lang-title">{$area_title}</span>
        <i class="layui-icon layui-icon-down layui-font-12"></i>
    </button>
    <button
        class="layui-btn layui-bg-blue btn-disabled disabled {:$auth->check('cms.single/edit')?'':'hide'}"
        lay-event="edit">
        <i class="fa fa-pencil"></i>
        {:__('Edit')}
    </button>
    <!-- 钩子 -->
    {foreach :hook('content_top_btn',[],true) as $hook} {$hook|raw} {/foreach}
</script>
<script>
    layui.use(["badou", "changeLang"], function () {
        var bdTable = layui.bdTable;
        var table = layui.table;
        var layer = layui.layer;
        var dropdown = layui.dropdown;
        var badou = layui.badou;
        var changeLang = layui.changeLang;
        badou.http.config.open.area = ["100%", "100%"];

        bdTable.api.init({
            table: table,
            extend: {
                index_url: "cms.single/index?mcode={$mcode}",
                edit_url: "cms.single/edit?mcode={$mcode}",
                multi_url: "cms.single/multi?mcode={$mcode}",
                table: "cms_content",
            },
        });
        bdTable.render({
            elem: "#content",
            url: bdTable.extend.index_url,
            pk: "id",
            even: true,
            toolbar: "#toolbar",
            page: true,
            cols: [
                [
                    { type: "checkbox" },
                    { field: "id", title: "ID", width: 80, sort: true },
                    { field: "scode", hide: true, title: __("Scode"), width: 90, operate: false },
                    { field: "contentsort.name", title: __("Scode name"), width: 150 },
                    { field: "title", title: __("Title") },
                    {
                        field: "date",
                        title: __("Release time"),
                        width: 180,
                        templet: bdTable.api.formatter.datetime,
                        operate: "RANGE",
                        searchType: "time",
                    },
                    {
                        field: "status",
                        title: __("Status"),
                        width: 100,
                        searchList: { 0: __("Off"), 1: __("On") },
                        templet: bdTable.api.formatter.switch,
                    },
                    { field: "visits", title: __("Visits"), width: 80 },
                    { title: __("Operate"), align: "center", width: 200, templet: bdTable.api.formatter.operate },
                ],
            ],
            done: function(res, curr, count){
                changeLang({
                    table:bdTable
                });
            }
        });
    });
</script>
