<link rel="stylesheet" href="__CDN__/assets/libs/bootstrap/bootstrap.min.css">
<link rel="stylesheet" href="__CDN__/assets/libs/pear/css/pear.css" />
<link rel="stylesheet" href="__CDN__/assets/libs/pear/css/loader.css" />
<link rel="stylesheet" href="__CDN__/assets/libs/font-awesome/css/font-awesome.min.css" />
<link rel="stylesheet" href="__CDN__/assets/css/admin.css" />
<link rel="stylesheet" href="__CDN__/assets/css/admin.dark.css" />
<!-- <link rel="stylesheet" href="__CDN__/assets/css/variables.css" /> -->
<!-- <link rel="stylesheet" href="__CDN__/assets/css/reset.css" /> -->
<link rel="stylesheet" href="__CDN__/assets/css/badouadmin.css" />
<script type="text/javascript">
	var Config = {$config|raw|json_encode};
</script>
<!-- 依 赖 脚 本 -->
<script src="__CDN__/assets/libs/jquery.min.js"></script>
<script src="__CDN__/assets/libs/layui/layui.js"></script>
<script src="__CDN__/assets/libs/pear/pear.js"></script>
<script src="__CDN__/assets/libs/xm-select/xm-select.js"></script>
<script src="__CDN__/assets/libs/badouadmin/index.js"></script>
<script src="__CDN__/assets/libs/jstree/jstree.js"></script>