<!-- upgrade start -->
<style>
    .upgrade a{
        height: 24px;
        line-height: 24px;
        border-radius: 12px;
        padding: 0 12px;
        cursor: pointer;
        color:#f39c13 !important;
        background-color:rgb(253.8, 245.1, 231.4) ;
        border-color: rgb(252.6, 235.2, 207.8);
        font-size: 12px !important;
        margin:0 15px;
    }
    .pear-admin-dark .layui-header .layui-nav .layui-nav-item.upgrade a{
        color:#f39c13 !important;
    }
</style>
<!-- upgrade end -->