:root {
    --primary-color: #ff6c02;
}

.layui-tab-item {
    /* margin: 15px; */
    background: #fff;
    /* padding: 15px; */
}
.layui-btn + .layui-btn {
    margin-left: 0;
}
.layui-table-tool {
    background-color: #f8f8f8;
}
.layui-table-cell {
    padding: 10px 15px;
    margin-right: -1px;
}
.layui-table th:last-child,
.layui-table td:last-child {
    border-right: 0;
}

.layui-table-view::after {
    width: 0;
}
.layui-table-header {
    border-bottom: 1px solid #ddd;
}
.layui-table > thead > tr > th > .layui-table-cell {
    color: #333;
}
.layui-table td {
    border-color: #f4f4f4;
}
.layui-btn {
    border-radius: 3px;
}
.layui-btn:active,
.layui-btn:hover {
    opacity: 0.75;
}
.layui-btn.disabled,
.layui-btn[disabled] {
    opacity: 0.65;
    cursor: not-allowed !important;
}
.hide {
    display: none !important;
}
.show {
    display: block !important;
}
.invisible {
    visibility: hidden;
}
.layui-layer-footer {
    text-align: left !important;
}
.badouadmin-form-body {
    padding: 15px;
}
.badouadmin-form-body .layui-form {
    padding-bottom: 15px;
}

.pear-nav-tree .layui-nav-item a span {
    letter-spacing: 0.5px;
}

/* 表格高级搜索 s */
.badouadmin-commonsearch .layui-form-item {
    margin-bottom: 0;
}
.badouadmin-commonsearch .commonsearch-submit {
    margin-right: 5px;
}
/* 表格高级搜索 e */

/* 弹窗样式 s */
.layui-layer-badouadmin .layui-layer-title {
    background-color: var(--theme-color) !important;
    color: #fff !important;
}
.layui-layer-badouadmin .layui-layer-footer {
    padding: 8px 20px;
    background-color: #fafaf9;
    height: auto;
    text-align: inherit !important;
}
.layui-layer-badouadmin .layui-layer-footer .layui-btn {
    height: 36px;
    line-height: 36px;
    padding: 0 12px;
    font-size: 13px;
}
.layui-layer-badouadmin .layui-layer-setwin span {
    color: #fff;
}
.layui-layer-badouadmin .layui-layer-setwin .layui-layer-min::before {
    border-bottom: 1px solid #fff;
}
.layui-layer-badouadmin .layui-layer-setwin .layui-layer-max::before,
.layui-layer-badouadmin .layui-layer-setwin .layui-layer-max::after {
    border: 1px solid #fff;
    color: #fff;
}
.layui-layer-badouadmin .layui-layer-setwin .layui-layer-max::after {
    background: none !important;
}
/* 弹窗样式 e */


/* jsTree树形样式 s */
#treeview .jstree-container-ul .jstree-node {display: block; clear: both; }
#treeview .jstree-leaf:not(:first-child) {float: left; background: none; margin-left: 0; min-width: 80px; clear: none; }
#treeview .jstree-leaf {float: left; margin-left: 0; padding-left: 24px; min-width: 80px; clear: none; color: #777; }
#treeview .jstree-leaf > .jstree-icon, #treeview .jstree-leaf .jstree-themeicon {display: none; }
#treeview .jstree-last {background-image: url("../images/32px.png"); background-position: -292px -4px; background-repeat: repeat-y; }
#treeview .jstree-children:before, #treeview .jstree-children:after {content: " "; display: table; }
#treeview .jstree-children:after {clear: both; }
#treeview .jstree-themeicon {display: none; }
/* jsTree树形样式 e */