{layout name="layout/default" /}
<div class="layui-card">
    <div class="layui-card-body">
        <table
            class="layui-hide"
            id="formdata"
            data-operate-edit="{:$auth->check('cms.formdata/edit')}"
            data-operate-del="{:$auth->check('cms.formdata/del')}"></table>
    </div>
</div>

<!-- 表格左侧按钮 toolbar  -->
<script type="text/html" id="toolbar">
    <a href="javascript:;" lay-event="refresh" class="layui-btn btn-refresh layui-bg-black">
        <i class="fa fa-refresh"></i>
    </a>
    <button class="layui-btn layui-bg-red btn-disabled disabled" lay-event="del">
        <i class="fa fa-trash"></i>
        {:__('Del')}
    </button>
</script>

<script>
    layui.use(["badou"], function () {
        var bdTable = layui.bdTable;
        var table = layui.table;
        var layer = layui.layer;
        var dropdown = layui.dropdown;
        var badou = layui.badou;
        var laytpl = layui.laytpl;
        var formdata = layui.formdata;

        bdTable.api.init({
            table: table,
            extend: {
                index_url: "cms.formdata/index?fcode={$fcode}",
                del_url: "cms.formdata/del",
                multi_url: "cms.formdata/multi",
                table: "cms_formdata",
            },
        });
        var cols=[
            { type: "checkbox" },
            { field: "id", title: "ID", width: 80, sort: true },
        ];

        Config.formFields.forEach(function (item) {
            cols.push({ field: item.name, title: __(item.description) });
        });

        cols.push({   title: __("Operate"),
            width: 300,
            templet: bdTable.api.formatter.operate
        });
        bdTable.render({
            elem: "#formdata",
            url: bdTable.extend.index_url,
            pk: "id",
            even: true,
            toolbar: "#toolbar",
            page: true,
            cols: [
                cols
            ],
        });
    });
</script>
