{layout name="layout/default" /}


<!-- 表格 -->
<div class="layui-card">
    <div class="layui-card-body">
        <div class="layui-tabs layui-tabs-card" id="label-tabs" lay-options="{index: 0}">
            <ul class="layui-tabs-header">
                <li>插件</li>
                <li>模版</li>
            </ul>
            <div style="margin-top: 20px;">
                <a href="javascript:;" lay-event="refresh" class="layui-btn btn-refresh layui-bg-black">
                    <i class="fa fa-refresh"></i>
                </a>
                <div class="layui-btn-group">
                    <button class="layui-btn layui-bg-blue" lay-event="add">
                        <i class="fa fa-list"></i>
                        {:__('All')}
                    </button>
                    <button type="button" class="layui-btn layui-bg-blue">
                        <i class="fa fa-laptop"></i>
                        {:__('Installed')}
                    </button>
                </div>
                <button type="button" class="layui-btn layui-bg-red btn-userinfo">
                    <i class="fa fa-user"></i>
                    {:__('BADOU Userinfo')}
                </button>
            </div>
            <div class="layui-tabs-body">
                <div class="layui-tabs-item">
                    {include file="module/module" /}
                </div>
                <div class="layui-tabs-item">
                    {include file="module/template" /}
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    layui.use(["badou", "tabs", "form", "laytpl"], function () {
        var bdTable = layui.bdTable;
        var card = layui.cardList;
        var form = layui.form;
        var laytpl = layui.laytpl;
        var badou = layui.badou;
        var layer = layui.layer;
        var dropdown = layui.dropdown;
        var tabs = layui.tabs;

        // 会员信息
        $(document).on("click", ".btn-userinfo", function (e, name, version) {
            var that = this;
            var area = [$(window).width() > 800 ? "500px" : "95%", $(window).height() > 600 ? "400px" : "95%"];
            var userinfo = badou.api.badouStorage.get("userinfo");
            if (!userinfo) {
                badou.api.ajax(
                    {
                        url: Config.api_url + "/member/logintpl",
                        type: "post",
                        loading: false,
                        data: {
                            version: Config.bdversion,
                            sid: badou.api.badouStorage.getSid(),
                        },
                    },
                    function (tpldata, ret) {
                        layer.open({
                            content: laytpl(tpldata).render(),
                            zIndex: 99,
                            area: area,
                            title: __("Login"),
                            resize: false,
                            btn: [__("Login")],
                            yes: function (index, layero) {
                                var data = $("form", layero).serializeArray();
                                data.push({ name: "bdversion", value: Config.bdversion });
                                data.push({ name: "sid", value: badou.api.badouStorage.getSid() });
                                badou.api.ajax(
                                    {
                                        url: Config.api_url + "/member/login",
                                        type: "post",
                                        data: data,
                                    },
                                    function (data, ret) {
                                        badou.api.badouStorage.set({ key: "userinfo", value: data });
                                        layer.closeAll();
                                        layer.alert(ret.msg, { title: __("Warning"), icon: 1 });
                                        return false;
                                    },
                                    function (data, ret) {}
                                );
                            },
                            success: function (layero, index) {
                                this.checkEnterKey = function (event) {
                                    if (event.keyCode === 13) {
                                        $(".layui-layer-btn0").trigger("click");
                                        return false;
                                    }
                                };
                                $(document).on("keydown", this.checkEnterKey);
                            },
                            end: function () {
                                $(document).off("keydown", this.checkEnterKey);
                            },
                        });
                        return false;
                    }
                );
            } else {
                badou.api.ajax(
                    {
                        url: Config.api_url + "/member/userinfotpl",
                        type: "post",
                        data: {
                            uid: userinfo.id,
                            token: userinfo.token,
                            version: Config.bdversion,
                            sid: badou.api.badouStorage.getSid(),
                        },
                    },
                    function (tpldata, ret) {
                        layer.open({
                            content: laytpl(tpldata).render(userinfo),
                            area: area,
                            title: __("Userinfo"),
                            resize: false,
                            btn: [__("Logout"), __("Close")],
                            yes: function () {
                                badou.api.ajax(
                                    {
                                        url: Config.api_url + "/member/logout",
                                        data: {
                                            uid: userinfo.id,
                                            token: userinfo.token,
                                            version: Config.bdversion,
                                            sid: badou.api.badouStorage.getSid(),
                                        },
                                    },
                                    function (data, ret) {
                                        badou.api.badouStorage.remove("userinfo");
                                        layer.closeAll();
                                        layer.alert(ret.msg, { title: __("Warning"), icon: 0 });
                                    },
                                    function (data, ret) {
                                        badou.api.badouStorage.remove("userinfo");
                                        layer.closeAll();
                                        layer.alert(ret.msg, { title: __("Warning"), icon: 0 });
                                    }
                                );
                            },
                        });
                        return false;
                    },
                    function (data) {
                        badou.api.badouStorage.remove("userinfo");
                        $(that).trigger("click");
                        return false;
                    }
                );
            }
        });
    });
</script>
