{layout name="layout/form" /}
<form class="layui-form" method="post">
    {:token_field()}
    <div class="layui-row layui-col-space20">
        <div class="layui-col-xs8">
            <div class="layui-form-item">
                <label class="layui-form-label">父栏目</label>
                <div class="layui-input-block">
                    <input type="text" id="c-pcode" name="row[pcode]" value="{$row.pcode}" class="layui-input" />
                    <div
                        class="remoteSelect"
                        id="remoteSelect-pcode"
                        data-input-id="c-pcode"
                        data-field="nickname"
                        data-source="user.user/index"></div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">栏目名称</label>
                <div class="layui-input-block">
                    <input
                        type="text"
                        name="row[name]"
                        lay-verify="required"
                        autocomplete="off"
                        value="{$row.name}"
                        placeholder="标题"
                        class="layui-input" />
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">URL名称</label>
                <div class="layui-input-block">
                    <input
                        type="text"
                        id="c-filename"
                        name="row[filename]"
                        class="layui-input"
                        value="{$row.filename}" />
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">状态</label>
                <div class="layui-input-block">
                    <input type="radio" name="row[status]" value="1" title="显示" {if $row.status==1}
                    checked="checked"{/if}> <input type="radio" name="row[status]" value="0" title="隐藏"
                    {if$row.status==0} checked="checked"{/if}>
                </div>
            </div>
        </div>
        <div class="layui-col-xs4">
            <div class="layui-card layui-bg-gray">
                <div class="layui-card-header">高级内容</div>
                <div class="layui-card-body">
                    <div class="layui-form-item">
                        <label class="layui-form-label">标题颜色</label>

                        <div class="layui-input-inline">
                            <input
                                type="text"
                                name="row[titlecolor]"
                                value="{$row.titlecolor}"
                                placeholder="请选择标题颜色"
                                class="layui-input"
                                id="titlecolor" />
                        </div>
                        <div class="layui-inline" style="left: -11px">
                            <div class="colorpicker" data-input-id="titlecolor"></div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">副标题</label>
                        <div class="layui-input-block">
                            <input
                                type="text"
                                name="row[subtitle]"
                                value="{$row.subtitle}"
                                placeholder="请输入副标题"
                                class="layui-input" />
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">时间</label>
                        <div class="layui-input-block">
                            <input
                                type="text"
                                name="row[date]"
                                value="{$row.date}"
                                readonly
                                placeholder="请选择发布时间"
                                class="layui-input laydate" />
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">附件</label>
                        <div class="layui-input-block">
                            <div class="layui-input-group" style="width: 100%">
                                <input
                                    type="text"
                                    id="c-enclosure"
                                    name="row[enclosure]"
                                    class="layui-input"
                                    value="{$row.enclosure}" />
                                <div class="layui-input-suffix" style="width: 50%">
                                    <button type="button" data-input-id="c-enclosure" class="layui-btn btn-bdupload">
                                        <i class="fa fa-upload"></i>
                                        上传
                                    </button>
                                    <button
                                        type="button"
                                        data-input-id="c-enclosure"
                                        class="layui-btn layui-bg-green btn-bdchoose">
                                        <i class="fa fa-list"></i>
                                        选择
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">SEO关键字</label>
                        <div class="layui-input-block">
                            <input
                                type="text"
                                name="row[keywords]"
                                value="{$row.keywords}"
                                placeholder="请输入详情页SEO关键字"
                                class="layui-input" />
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">SEO描述</label>
                        <div class="layui-input-block">
                            <textarea name="row[description]" placeholder="请输入详情页SEO描述" class="layui-textarea">
{$row.description}</textarea
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-form-item layer-footer hide">
        <div class="layui-input-block">
            <input type="hidden" name="row[id]" value="{$row.id}" />
            <button class="layui-btn pear-btn-primary layui-btn-sm disabled" lay-submit>保存</button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
        </div>
    </div>
</form>

<script>
    layui.use(function () {
        var bdForm = layui.bdForm;

        bdForm.api.bindevent($("form.layui-form"));
    });
</script>
