{layout name="layout/default" /}

<!-- 表格左侧按钮 toolbar  -->
<script type="text/html" id="toolbar">
    <a href="javascript:;" lay-event="refresh" class="layui-btn btn-refresh layui-bg-black">
        <i class="fa fa-refresh"></i>
    </a>
    <button class="layui-btn btn-theme-color" lay-event="add">
        <i class="fa fa-plus"></i>
        {:__('Add')}
    </button>
    <button
        class="layui-btn layui-bg-blue btn-disabled disabled {:$auth->check('cms.contentsort/edit')?'':'hide'}"
        lay-event="edit">
        <i class="fa fa-pencil"></i>
        {:__('Edit')}
    </button>
    <button class="layui-btn layui-bg-red btn-disabled disabled" lay-event="del">
        <i class="fa fa-trash"></i>
        {:__('Del')}
    </button>
    <button class="layui-btn" id="expandAll">
        <i class="fa fa-plus"></i>
        {:__('Expendall')}
    </button>
</script>

<div class="layui-card">
    <div class="layui-card-body">
        <table
            class="layui-hide"
            id="contentsort"
            data-operate-edit="{:$auth->check('cms.contentsort/edit')}"
            data-operate-del="{:$auth->check('cms.contentsort/del')}"></table>
    </div>
</div>

<script>
    layui.use(["badou"], function () {
        var bdTable = layui.bdTable;
        var treeTable = layui.treeTable;
        var badou = layui.badou;
        badou.http.config.open.area=['100%', '100%'];
        bdTable.api.init({
            table: treeTable,
            extend: {
                index_url: "cms.contentsort/index",
                add_url: "cms.contentsort/add",
                edit_url: "cms.contentsort/edit",
                del_url: "cms.contentsort/del",
                multi_url: "cms.contentsort/multi",
                table: "cms_content_sort",
            },
        });
        bdTable.render({
            elem: "#contentsort",
            pk: "scode",
            even: true,
            toolbar: "#toolbar",
            commonSearch: false,
            tree: {
                customName: {
                    children: "childlist",
                    pid: "pcode",
                    id: "scode",
                },
                view: {
                    showIcon: false,
                },
                // 取消联动
                data: {
                    cascade: "none",
                },
            },
            cols: [
                [
                    { type: "checkbox" },
                    { field: "scode", title: "ID", width: 80, sort: true },
                    { field: "name", title: "栏目名称", operate: "like" },
                    { field: "filename", title: "URL名称", width: 150 },
                    {
                        field: "models.name",
                        title: "模型",
                        width: 150,
                        templet: function (d) {
                            var colorArr = ["red", "orange", "green", "blue", "purple", "black"];
                            var colorIndex = d.mcode % colorArr.length;
                            var color = colorArr[colorIndex];
                            if (d.models) {
                                return '<span class="layui-badge layui-bg-' + color + '">' + d.models.name + "</span>";
                            } else {
                                return "-";
                            }
                        },
                    },
                    { field: "listtpl", title: "列表页模板", width: 150 },
                    { field: "contenttpl", title: "详情页模板", width: 150 },
                    { field: "outlink", title: "跳转链接", width: 150 },
                    { field: "sorting", title: "排序", width: 100 },
                    {
                        field: "status",
                        title: "状态",
                        width: 100,
                        templet: bdTable.api.formatter.switch,
                    },
                    { title: "操作", width: 190, align: "center", templet: bdTable.api.formatter.operate },
                ],
            ],
        });
        // 展开全部
        $(document).on("click", "#expandAll", function () {
            var btn = $(this);
            var isExpanded = btn.hasClass("expanded");
            if (isExpanded) {
                treeTable.expandAll("contentsort", false);
                btn.removeClass("expanded");
                btn.html('<i class="fa fa-plus"></i> {:__("Expendall")}');
            } else {
                treeTable.expandAll("contentsort", true);
                btn.addClass("expanded");
                btn.html('<i class="fa fa-minus"></i> {:__("Collapseall")}');
            }
        });
    });
</script>
