{layout name="layout/form" /}
<form class="layui-form" method="post">
    {:token_field()}
    <div class="layui-form-item">
        <label class="layui-form-label">父级</label>
        <div class="layui-input-block">
            <select name="row[pid]" lay-verify="required" data-id="{$row.id}" data-pid="{$row.pid}" lay-filter="pid">
                {foreach $groupdata as $key=> $value}
                <option value="{$key}" {if $key==$row.pid} selected {/if}>{$value}</option>
                {/foreach}
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">权限组</label>
        <div class="layui-input-block">
            <input
                type="text"
                name="row[name]"
                lay-verify="required"
                autocomplete="off"
                placeholder="权限组"
                class="layui-input"
                value="{$row.name}" />
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">状态</label>
        <div class="layui-input-block">
            <input type="radio" name="row[status]" value="normal" title="显示" {if $row.status=='normal'} checked {/if} />
            <input type="radio" name="row[status]" value="hidden" title="隐藏" {if $row.status=='hidden'} checked {/if} />
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">权限</label>
        <div class="layui-input-block">
            <input type="hidden" name="row[rules]" />
            <input type="checkbox" name="" title="选中全部" lay-filter="checkall" />
            <input type="checkbox" name="" title="展开全部" lay-filter="expandall" />
            <div id="treeview"></div>
        </div>
    </div>

    <div class="layui-form-item layer-footer hide">
        <div class="layui-input-block">
            <input type="hidden" name="row[id]" value="{$row.id}" />
            <button class="layui-btn pear-btn-primary layui-btn-sm disabled" lay-submit lay-filter="go">
                立即提交
            </button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
        </div>
    </div>
</form>

<script>
    layui.use(["badou", "jquery", "form"], function () {
        var bdForm = layui.bdForm;
        var jstree = layui.jstree;
        var $ = layui.$;
        var form = layui.form;
        var toast = layui.toast;
        //读取选中的条目
        $.jstree.core.prototype.get_all_checked = function (full) {
            var obj = this.get_selected(),
                i,
                j;
            for (i = 0, j = obj.length; i < j; i++) {
                obj = obj.concat(this.get_node(obj[i]).parents);
            }
            obj = $.grep(obj, function (v, i, a) {
                return v != "#";
            });
            obj = obj.filter(function (itm, i, a) {
                return i == a.indexOf(itm);
            });
            return full
                ? $.map(
                      obj,
                      $.proxy(function (i) {
                          return this.get_node(i);
                      }, this)
                  )
                : obj;
        };
        var rendertree = function (content) {
            $("#treeview")
                .on("redraw.jstree", function (e) {
                    $(".layer-footer").attr("domrefresh", Math.random());
                })
                .jstree({
                    themes: { stripes: true },
                    checkbox: {
                        keep_selected_style: false,
                    },
                    types: {
                        root: {
                            icon: "fa fa-folder-open",
                        },
                        menu: {
                            icon: "fa fa-folder-open",
                        },
                        file: {
                            icon: "fa fa-file-o",
                        },
                    },
                    plugins: ["checkbox", "types"],
                    core: {
                        check_callback: true,
                        data: content,
                    },
                });
        };

        bdForm.api.bindevent($("form.layui-form"), null, null, function () {
            if ($("#treeview").length > 0) {
                var r = $("#treeview").jstree("get_all_checked");
                $("input[name='row[rules]']").val(r.join(","));
            }
            return true;
        });

        var getroletree=function(id,pid){
             $.ajax({
                url: "auth.group/roletree",
                type: 'post',
                dataType: 'json',
                data: {id: id, pid: pid},
                success: function (ret) {
                    if (ret.hasOwnProperty("code")) {
                        var data = ret.hasOwnProperty("data") && ret.data != "" ? ret.data : "";
                        if (ret.code === 1) {
                            //销毁已有的节点树
                            $("#treeview").jstree("destroy");
                            rendertree(data);
                        } else {
                            toast.error(ret.msg);
                        }
                    }
                }, error: function (e) {
                    toast.error(e.message);
                }
            });
        }

        //变更级别后需要重建节点树
        form.on('select(pid)',function(data){
            var selectdata=data.othis.prev().data();
            var pid = selectdata.pid;
            var id = selectdata.id;
            if (data.value == id) {
                $("option[value='" + pid + "']", this).prop("selected", true).change();
                toast.error(__('Can not change the parent to self'));
                return false;
            }
            getroletree(id,data.value)
        })

        //全选和展开
        form.on("checkbox(checkall)", function (data) {
            $("#treeview").jstree($(this).prop("checked") ? "check_all" : "uncheck_all");
        });
        form.on("checkbox(expandall)", function (data) {
            $("#treeview").jstree($(this).prop("checked") ? "open_all" : "close_all");
        });

        getroletree("{$row.id}",$("select[name='row[pid]']").val())
    });
</script>
