{layout name="layout/form" /}
<form class="layui-form" method="post">
    {:token_field()}

    {foreach $formFields as $field}
    <div class="layui-form-item">
        <label class="layui-form-label">{$field.description}</label>
        <div class="layui-input-block">
            <input
                type="text"
                value="{$row[$field.name]}"
                autocomplete="off"
                disabled
                class="layui-input" />
        </div>
    </div>
    {/foreach}

    <div class="layui-form-item">
        <label class="layui-form-label">IP地址</label>
        <div class="layui-input-block">
            <input
                type="text"
                value="{$row.user_ip}"
                autocomplete="off"
                disabled
                class="layui-input" />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">操作系统</label>
        <div class="layui-input-block">
            <input
                type="text"
                value="{$row.user_os}"
                disabled
                class="layui-input" />
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">浏览器</label>
        <div class="layui-input-block">
            <input
                type="text"
                value="{$row.user_bs}"
                disabled
                class="layui-input" />
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">回复内容</label>
        <div class="layui-input-block">
            <textarea name="row[recontent]" lay-verify="required" rows="3" class="layui-textarea">{$row.recontent}</textarea>
        </div>
    </div>



    <div class="layui-form-item layer-footer hide">
        <div class="layui-input-block">
            <input type="hidden" name="row[id]" value="{$row.id}" />
            <button class="layui-btn btn-theme-color disabled" lay-submit>立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>

<script>
    layui.use(["badou"], function () {
        var bdForm = layui.bdForm;
        bdForm.api.bindevent($("form.layui-form"));
    });
</script>