{layout name="layout/default" /}
<div class="layui-card">
    <div class="layui-card-body">
        <table
            class="layui-hide"
            id="message"
            data-operate-edit="{:$auth->check('cms.message/edit')}"
            data-operate-del="{:$auth->check('cms.message/del')}"></table>
    </div>
</div>

<!-- 表格左侧按钮 toolbar  -->
<script type="text/html" id="toolbar">
    <a href="javascript:;" lay-event="refresh" class="layui-btn btn-refresh layui-bg-black">
        <i class="fa fa-refresh"></i>
    </a>
    <button class="layui-btn layui-bg-red btn-disabled disabled" lay-event="del">
        <i class="fa fa-trash"></i>
        {:__('Del')}
    </button>
</script>

<script>
    layui.use(["badou"], function () {
        var bdTable = layui.bdTable;
        var table = layui.table;
        var layer = layui.layer;
        var dropdown = layui.dropdown;
        var badou = layui.badou;
        var laytpl = layui.laytpl;
        var message = layui.message;

        bdTable.api.init({
            table: table,
            extend: {
                index_url: "cms.message/index",
                edit_url: "cms.message/edit",
                del_url: "cms.message/del",
                multi_url: "cms.message/multi",
                table: "cms_message",
            },
        });
        bdTable.render({
            elem: "#message",
            url: bdTable.extend.index_url,
            pk: "id",
            even: true,
            toolbar: "#toolbar",
            page: true,
            cols: [
                [
                    { type: "checkbox" },
                    { field: "id", title: "ID", width: 80, sort: true },
                    { field: "content", title: __("Content") },

                    { field: "recontent", title: __("Reply content") },
                    { field: "user_ip", title: __("User ip"), operate: false,width:140 },
                    { field: "status", title: __("Status"),templet: bdTable.api.formatter.switch ,width: 90},
                    { field: "create_time", title: __("Create time"),width:180 },
                    {
                        title: __("Operate"),
                        width: 150,
                        templet: bdTable.api.formatter.operate,
                        buttons:[
                            {
                                name:'edit',
                                text: __("Reply"),
                                icon:'fa fa-reply',
                                extend: "lay-event='btn-editone'",
                                classname: "layui-btn layui-btn-sm",
                            }
                        ]
                    },
                ],
            ],
        });
    });
</script>
