{layout name="layout/default" /}
<script src="__CDN__/assets/cms/js/change_lang.js"></script>

<!-- 表格 -->
<div class="layui-card">
    <div class="layui-card-body">
        <table
            class="layui-hide"
            id="slide"
            data-operate-edit="{:$auth->check('cms.slide/edit')}"
            data-operate-del="{:$auth->check('cms.slide/del')}"></table>
    </div>
</div>
<!-- 表格左侧按钮 toolbar  -->
<script type="text/html" id="toolbar">
    <a href="javascript:;" lay-event="refresh" class="layui-btn btn-refresh layui-bg-black	">
        <i class="fa fa-refresh"></i>
    </a>
    <button class="layui-btn layui-btn-primary layui-border-black" id="changeLang">
        <span class="lang-title">{$area_title}</span>
        <i class="layui-icon layui-icon-down layui-font-12"></i>
    </button>
    <button class="layui-btn layui-bg-green" lay-event="add">
        <i class="fa fa-plus"></i>
        {:__('Add')}
    </button>
    <button
        class="layui-btn layui-bg-blue btn-disabled disabled {:$auth->check('cms.slide/edit')?'':'hide'}"
        lay-event="edit">
        <i class="fa fa-pencil"></i>
        {:__('Edit')}
    </button>
    <button class="layui-btn layui-bg-red btn-disabled disabled {:$auth->check('cms.slide/del')?'':'hide'}" lay-event="del">
        <i class="fa fa-trash"></i>
        {:__('Del')}
    </button>
</script>
<script>
    layui.use(["badou","changeLang"], function () {
        var bdTable = layui.bdTable;
        var table = layui.table;
        var layer = layui.layer;
        var dropdown = layui.dropdown;
        var changeLang=layui.changeLang;
        bdTable.api.init({
            table: table,
            extend: {
                index_url: "cms.slide/index",
                add_url: "cms.slide/add",
                edit_url: "cms.slide/edit",
                del_url: "cms.slide/del",
                multi_url: "cms.slide/multi",
                table: "auth_rule",
            },
        });
        bdTable.render({
            elem: "#slide",
            url: "{:url('cms.slide/index')}",
            pk: "id",
            even: true,
            toolbar: "#toolbar",
            page: true,
            cols: [
                [
                    { type: "checkbox" },
                    { field: "id", title: "ID", width: 80, sort: true },
                    { field: "gid", title: __("Gid"), width: 80},
                    {
                        field: "pic",
                        title: __("Pic"),
                        width: 150,
                        templet: bdTable.api.formatter.image,
                    },
                    { field: "link", title: __("Link"), width: 250 },
                    { field: "title", title: __("Title")},
                    { field: "subtitle", title: __("Subtitle"), width: 250},
                    { field: "create_user", title: __("Create user"), width: 180 },
                    {
                        field: "sorting",
                        title: __("Sorting"),
                        width: 100,
                    },
                    { title: __("Operate"), align: "center", templet: bdTable.api.formatter.operate },
                ],
            ],
            done: function(res, curr, count){
                changeLang({
                    table:bdTable
                });
            }
        });
    });
</script>