<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{$site.site_name}</title>
    <link
        rel="stylesheet"
        rev="stylesheet"
        href="__CDN__/assets/libs/bootstrap/bootstrap.min.css"
        type="text/css"
        media="all" />
    <style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            background-color: #f8f8f8;
        }
        .main-content {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .footer{
            background-color: #fff;
        }
        .btn-user{
            padding: 8px 16px;
            border-radius: 30px;
        }
    </style>
</head>
<body>
    <div class="main-content text-center">
        <div>
            <h1 style="color:#ff6c02 ;">BadouAdmin {$Think.config.badouadmin.version}</h1>
            <p class="lead">化繁为简，返璞归真，扩展灵活</p>
            <div class="mt-4">
                <a href="{:url('index/user/index')}" class="btn btn-user btn-outline-dark">会员中心</a>
            </div>
        </div>
    </div>

    <footer class="footer mt-auto py-3 bg-dark">
        <div class="container text-center">
            <span class="text-white-50 ">Copyright @ {$site.site_name} {:date('Y')} 版权所有</span>
        </div>
    </footer>
</body>
</html>
