{layout name="layout/form" /}

<form class="layui-form" method="post">
    {:token_field()}

    <div class="layui-form-item">
        <label class="layui-form-label">描述</label>
        <div class="layui-input-block">
            <input
                type="text"
                name="row[description]"
                value="{$row.description}"
                lay-verify="required"
                placeholder="请输入字段描述"
                autocomplete="off"
                class="layui-input" />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">字段</label>
        <div class="layui-input-block">
            <input
                type="text"
                name="row[name]"
                value="{$row.name}"
                lay-verify="required"
                placeholder="请输入字段"
                autocomplete="off"
                class="layui-input" />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">长度</label>
        <div class="layui-input-block">
            <input
                type="text"
                name="row[length]"
                value="{$row.length}"
                lay-verify="required"
                placeholder="请输入长度"
                autocomplete="off"
                class="layui-input" />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">是否必填</label>
        <div class="layui-input-block">
            <input type="radio" name="row[required]" {if $row.required==1} checked {/if} value="1" title="是" />
            <input type="radio" name="row[required]" {if $row.required==0} checked {/if} value="0" title="否" />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">排序</label>
        <div class="layui-input-block">
            <input
                type="text"
                name="row[sorting]"
                value="{$row.sorting}"
                placeholder="请输入排序"
                autocomplete="off"
                class="layui-input" />
        </div>
    </div>

    <div class="layui-form-item layer-footer hide">
        <div class="layui-input-block">
            <button class="layui-btn btn-theme-color disabled" lay-submit>立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>

<script>
    layui.use(["badou"], function () {
        var bdForm = layui.bdForm;
        bdForm.api.bindevent($("form.layui-form"));
    });
</script>
