{layout name="layout/default" /}
<div class="layui-card">
    <div class="layui-card-body">
        <table
            class="layui-hide"
            id="form_field"
            data-operate-edit="{:$auth->check('cms.form_field/edit')}"
            data-operate-del="{:$auth->check('cms.form_field/del')}"></table>
    </div>
</div>

<!-- 表格左侧按钮 toolbar  -->
<script type="text/html" id="toolbar">
    <a href="javascript:;" lay-event="refresh" class="layui-btn btn-refresh layui-bg-black">
        <i class="fa fa-refresh"></i>
    </a>
    <button class="layui-btn btn-theme-color {:$auth->check('cms.form_field/add')?'':'hide'}" lay-event="add">
        <i class="fa fa-plus"></i>
        {:__('Add')}
    </button>
    <button
        class="layui-btn layui-bg-blue btn-disabled disabled {:$auth->check('cms.form_field/edit')?'':'hide'}"
        lay-event="edit">
        <i class="fa fa-pencil"></i>
        {:__('Edit')}
    </button>
    <button class="layui-btn layui-bg-red btn-disabled disabled {:$auth->check('cms.form_field/del')?'':'hide'}" lay-event="del">
        <i class="fa fa-trash"></i>
        {:__('Del')}
    </button>
</script>

<script>
    layui.use(["badou"], function () {
        var bdTable = layui.bdTable;
        var table = layui.table;
        var layer = layui.layer;
        var dropdown = layui.dropdown;
        var badou = layui.badou;
        var laytpl = layui.laytpl;
        var form_field = layui.form_field;

        bdTable.api.init({
            table: table,
            extend: {
                index_url: "cms.form_field/index?fcode={$fcode}",
                add_url: "cms.form_field/add?fcode={$fcode}",
                edit_url: "cms.form_field/edit",
                del_url: "cms.form_field/del",
                multi_url: "cms.form_field/multi",
                table: "cms_form_field",
            },
        });

        bdTable.render({
            elem: "#form_field",
            url: bdTable.extend.index_url,
            pk: "id",
            even: true,
            toolbar: "#toolbar",
            page: true,
            cols: [
                [
                    { type: "checkbox" },
                    { field: "id", title: "ID", width: 80, sort: true },
                    { field: "description", title:__('Description')},
                    { field: "name", title:__('Name')},
                    { field: "length", title:__('Length')},
                    { field: "required", title:__('Required'),templet: bdTable.api.formatter.switch },
                    { field: "sorting", title:__('Sorting')},
                    { title: __("Operate"), templet: bdTable.api.formatter.operate },
                ],
            ],
        });
    });
</script>
