{layout name="layout/form" /}
<style>
    .layui-form-label {
        width: 150px;
    }

    .layui-input-block {
        margin-left: 180px;
    }
</style>
<div class="layui-card">
    <div class="layui-card-body">
        <div class="layui-btn-container">
            <a href="general.config/setting" class="layui-btn btn-dialog" data-area='["80%","80%"]'>
                <i class="fa fa-list"></i> 配置列表
            </a>
        </div>
        <div class="layui-tabs layui-tabs-card" lay-options="{index: 0}">
            <ul class="layui-tabs-header">
                {foreach $config_group as $index=>$vo}
                <li>{$vo}</li>
                {/foreach}
            </ul>
            <form class="layui-form" action="{:url('general.config/saveConfig')}" method="post">
                {:token_field()}
                <div class="layui-tabs-body">
                    {foreach $list as $index=>$vo}
                    <div class="layui-tabs-item">
                        {foreach $vo['list'] as $field}
                        <div class="layui-form-item">
                            <label class="layui-form-label">{$field.title}</label>
                            <div class="layui-input-block">
                                {switch $field.type}
                                {// 文本框 }
                                {case value="string"}
                                <input type="text" id="c-{$field.name}" name="row[{$field.name}]"
                                    placeholder="请输入{$field.title}" value="{$field.value}" class="layui-input" />
                                {/case}

                                {// 开关 }
                                {case value="switch"}
                                <input type="hidden" name="row[{$field.name}]" value="0">
                                <input type="checkbox" id="c-{$field.name}" name="row[{$field.name}]" lay-skin="switch"
                                    value="{$field.value}" {if $field.value==1}checked{/if}>
                                {/case}

                                {// 多选框 }
                                {case value="checkbox"}
                                {volist name="$field.content_arr" id="item" key="k" }
                                <input type="checkbox" id="c-{$field.name}-{$k}" name="row[{$field.name}][]"
                                    title="{$item}" value="{$key}" {in name="key" value="$field.value??''" }
                                    checked {/in}>
                                {/volist}
                                {/case}

                                {// 单选框 }
                                {case value="radio"}
                                {volist name="$field.content_arr" id="item" key="k" }
                                <input type="radio" id="c-{$field.name}-{$k}" name="row[{$field.name}]" title="{$item}"
                                    value="{$key}" {in name="key" value="$field.value??''" } checked {/in}>
                                {/volist}
                                {/case}

                                {// 图片上传 }
                                {case value="image" break="0"}{/case}
                                {case images}
                                <div class="layui-input-group" style="width: 100%">
                                    <input type="text" id="c-{$field.name}" name="row[{$field.name}]"
                                        class="layui-input" value="{$field.value}" />
                                    <div class="layui-input-suffix" style="width: 30%">
                                        <button type="button" data-input-id="c-{$field.name}" {if $field.type=='images'
                                            }data-multiple="true" {/if} data-preview-id="p-{$field.name}"
                                            class="layui-btn btn-bdupload">
                                            <i class="fa fa-upload"></i>
                                            上传
                                        </button>
                                        <button type="button" data-input-id="c-{$field.name}" {if $field.type=='images'
                                            }data-multiple="true" {/if} class="layui-btn layui-bg-green btn-bdchoose">
                                            <i class="fa fa-list"></i>
                                            选择
                                        </button>
                                    </div>
                                </div>
                                <div class="layui-upload-list" id="p-{$field.name}"></div>
                                {/case}

                                {// 附件上传 }
                                {case value="file" break="0"}{/case}
                                {case files}
                                <div class="layui-input-group" style="width: 100%">
                                    <input type="text" id="c-{$field.name}" name="row[{$field.name}]"
                                        class="layui-input" value="{$field.value}" />
                                    <div class="layui-input-suffix" style="width: 30%">
                                        <button type="button" {if $field.type=='images' }data-multiple="true" {/if}
                                            data-input-id="c-{$field.name}" class="layui-btn btn-bdupload">
                                            <i class="fa fa-upload"></i>
                                            上传
                                        </button>
                                        <button type="button" data-input-id="c-{$field.name}" {if $field.type=='files'
                                            }data-multiple="true" {/if} class="layui-btn layui-bg-green btn-bdchoose">
                                            <i class="fa fa-list"></i>
                                            选择
                                        </button>
                                    </div>
                                </div>
                                {/case}

                                {// 多行文本框 }
                                {case textarea}
                                <textarea class="layui-textarea" name="row[{$field.name}]"
                                    rows="5">{$field.value}</textarea>
                                {/case}

                                {// 富文本 }
                                {case value="editor"}
                                <textarea class="layui-textarea editor" name="row[{$field.name}]"
                                    rows="5">{$field.value}</textarea>
                                {/case}

                                {// 日期 }
                                {case value="datetime"}
                                <input type="text" id="c-{$field.name}" name="row[{$field.name}]"
                                    class="layui-input laydate" value="{$field.value}" />
                                {/case}

                                {// 下拉选择 }
                                {case value="select"}
                                <select name="row[{$field.name}]" class="layui-select">
                                    {volist name="$field.content_arr" id="item" key="k" }
                                    <option value="{$key}" {if
                                        isset($row[$field.name])&&$row[$field.name]==$key}selected{/if}>{$item}</option>
                                    {/volist}
                                </select>
                                {/case}

                                {// 数组 }
                                {case value="array"}
                                <dl class="fieldlist" data-name="row[{$field.name|htmlentities}]"
                                    data-template="arraytpl" data-usearray="true">
                                    <dd>
                                        <ins>{:__('Array key')}</ins>
                                        <ins>{:__('Array value')}</ins>
                                    </dd>
                                    <dd>
                                        <a href="javascript:;" class="layui-btn btn-append"><i
                                                class="fa fa-plus"></i> {:__('Append')}</a>
                                    </dd>
                                    <textarea name="row[{$field.name|htmlentities}]" class="form-control hide" cols="30"
                                        rows="5">{$field.value}</textarea>
                                </dl>
                                <script type="text/html" id="arraytpl">
                                    <dd>
                                        <div class="layui-inline">
                                            <input type="text" name="{{=d.name}}[{{=d.index}}][key]" class="layui-input" value="{{=d.row.key}}" size="10">
                                        </div>
                                         <div class="layui-inline">
                                            <input type="text" name="{{=d.name}}[{{=d.index}}][value]" class="layui-input" value="{{=d.row.value}}" >
                                        </div>
                                        <div class="layui-inline">
                                          <span class="layui-btn layui-bg-red btn-remove"><i class="fa fa-times"></i></span>
                                          <span class="layui-btn btn-dragsort"><i class="fa fa-arrows"></i></span>
                                        </div>
                                    </dd>
                                </script>
                                {/case}

                                {/switch}
                                <p class="help-block">{$field.tip}</p>
                            </div>
                        </div>
                        {/foreach}
                        {if $vo.name=='mail'}
                        <div class="layui-form-item">
                            <label class="layui-form-label"></label>
                            <div class="layui-input-block">
                                <div class="send-test-mail">
                                    <button type="button" class="layui-btn testmail">发送测试邮件</button>
                                </div>
                            </div>
                        </div>
                        {/if}
                    </div>
                    {/foreach}
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn btn-theme-color" lay-submit>保存</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    layui.use(["badou", "tabs"], function () {
        var bdForm = layui.bdForm;
        var tabs = layui.tabs;
        var layer = layui.layer;
        var badou = layui.badou;
        bdForm.api.bindevent($("form.layui-form"));

        $(document).on("click", ".testmail", function () {
            var that = this;
            layer.prompt({ title: __('Please input your email'), formType: 0 }, function (value, index) {
                badou.api.ajax({
                    url: "general.config/sendTestMail",
                    data: $(that).closest("form").serialize() + "&row[test_email]=" + value
                });
            });

        });
    });
</script>